.whoweare {
  width: 100%;
  height: 100%;
  max-height: 350px;
  max-width: 900px;
}

.whoweare h2 {
  text-align: center;
  position: relative;
  padding: 10px;
}

.whoweare p {
  font-size: 18px;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}
