.contact {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  max-width: 500px;
  width: 100%;
  height: 650px;
  text-align: -webkit-center;
  max-width: 900px;
  padding: 30px;
}

.contact-form {
  max-width: 900px;
  width: 100%;
  text-align: center;
}

.contact-title {
  text-align: center;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  display: flex;
  color: #03003f;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
}

.send-message {
  margin: 10px;
  text-decoration: none;
  color: #eee;
  border-style: none;
  display: inline-block;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50%;
  background-color: #ffad1e;
}

.send-message-whatsapp {
  border-style: none;
  margin: 10px;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  background-color: #25d366;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50%;
}

.instagram {
  border-style: none;
  margin: 10px;
  text-decoration: none;
  color: #eee;
  display: inline-block;
  background-color: #cccccc;
  background-image: url("https://image.shutterstock.com/image-vector/modern-social-media-gradient-ui-260nw-1526929925.jpg");
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 50%;
}

.send-message-whatsapp i,
.send-message i {
  font-size: 30px;
}

.send-message-whatsapp:hover {
  background-color: darken(#25d366, 5%);
}

.send-message-whatsapp:focus {
  background-color: darken(#25d366, 15%);
}
.send-message:hover {
  background-color: darken(#ffad1e, 5%);
}

.send-message:focus {
  background-color: darken(#ffad1e, 15%);
}
