.menu-blog {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-blog a {
  color: whitesmoke;
}
