.menu {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  color: white;
}

.logo {
  float: left;
  width: 64px;
  height: 64px;
}
.logo:hover {
  width: 80px;
  height: 80px;
  transition: 1s;
}
